{
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "semi": false,
  "singleAttributePerLine": true,
  "tabWidth": 4,
  "useTabs": true
}
